4tron.angular-material-snippets
SolarLiner.linux-themes
abusaidm.html-snippets
albert.TabOut
bibhasdn.django-html
bigonesystems.django
dbaeumer.jshint
dbaeumer.vscode-eslint
deerawan.vscode-protractor-snippets
donjayamanne.python-extension-pack
eamodio.gitlens
eg2.vscode-npm-script
fknop.vscode-npm
gerane.Theme-azure
graysonhooper.spero
Gruntfuggly.todo-tree
idleberg.hopscotch
joseroux.phoenix-dark
KristjanTammekivi.hg
leizongmin.node-module-intellisense
magicstack.MagicPython
mauve.terraform
mohsen1.prettify-json
mortenhenriksen.perl-debug
ms-azuretools.vscode-docker
ms-python.python
ms-vscode.cpptools
ms-vsliveshare.vsliveshare
msjsdiag.debugger-for-chrome
natqe.reload
PKief.material-icon-theme
shardulm94.trailing-spaces
sharksym.gen80-colorizer
tht13.html-preview-vscode
tht13.python
Tyriar.sort-lines
VisualStudioExptTeam.vscodeintellicode
vscodevim.vim
WallabyJs.wallaby-vscode
wayou.vscode-todo-highlight
wholroyd.jinja
yuichinukiyama.TabSpacer
zhuangtongfa.Material-theme
